@font-face {
    font-family: 'ProximaSoft';
    src: url('../fonts/proxima_soft_bold.otf') format('opentype');
}

body {
    min-height: 100vh;
    padding: 0;
    color: white;
    background-image: linear-gradient(180deg, rgba(15, 15, 15, .6), rgba(15, 15, 15, 1)), url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "ProximaSoft", sans-serif;
}

.header {
    padding: 60px;
}

.footer {
    padding: 40px;
}

.end-footer {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

::-webkit-scrollbar {
    display: none;
}

.flex-centered {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}

.profile-pic-border {
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 4px solid #ffc0cb;
    border-radius: 500px;
}

.profile-pic-img {
    width: 100%;
    height: 100%;
    border-radius: 500px;
    animation: fadeIn ease .8s;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.title {
    font-weight: 700;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: white;
}

.title .badge {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-radius: 500px;
    cursor: pointer;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    max-width: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: 34px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
}

.infomation {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.infomation div {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #ffc0cb;
    margin-inline: 25px;
}

.infomation span {
    max-width: 160px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, .8);
}

h4 {
    max-width: 700px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-wrap: balance;
}

.cards-container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.cards-container :hover {
    outline: rgba(255, 255, 255, .5) solid 3px;
    animation: glow 1s ease-out;
}

.card {
    display: block;
    position: relative;
    width: 360px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    outline: rgba(255, 255, 255, .0) solid 3px;
    outline-offset: 5px;
    box-shadow: none;
    transition: all .2s ease-out;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-content {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    line-height: 4px;
    align-items: center;
    pointer-events: none;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
}

.card .card-content .card-title {
    max-width: 200px;
    line-height: 24px;
    padding-left: 10px;
    font-size: 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
}

.card .card-content .card-subtitle {
    max-width: 200px;
    padding-right: 10px;
    align-self: flex-end;
    line-height: 24px;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
}

.split {
    display: flex;
    width: 840px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.split span {
    width: 100%;
    height: 2px;
    border-radius: 500px;
    margin-inline: 15px;
    background-color: rgba(255, 255, 255, .4);
}

.popup-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.popup {
    position: fixed;
    width: 360px;
    height: auto;
    border-radius: 16px;
    transform: scale(1);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(22, 22, 23, .8);
    backdrop-filter: blur(20px) saturate(1.8);
    -webkit-backdrop-filter: blur(20px) saturate(1.8);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .6);
    animation: scaleIn ease .3s;
}

.popup .contents {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup .contents .logo {
    display: none;
    max-width: 60px;
    margin: 0;
    padding: 25px 0px 0px 0px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.popup .contents .text {
    display: flex;
    max-width: 330px;
    margin: 0;
    margin-top: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-wrap: balance;
    align-items: center;
    justify-content: center;
}

.popup .contents .description {
    display: flex;
    max-width: 330px;
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    text-wrap: balance;
    align-items: center;
    justify-content: center;
}

.popup .contents .button {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px 0px;
    color: #ffc0cb;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.popup .contents .button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
}

.popup .contents .split:first-of-type {
    margin-top: 25px;
}

.popup .contents .split {
    display: flex;
    width: 100%;
    height: 1px;
    cursor: default;
    pointer-events: none;
    background-color: rgba(255, 255, 255, .1);
}

::selection {
    color: #151515;
    background: #ffc0cb;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 00px rgba(225, 184, 0, 0);
    }
    10% {
        box-shadow: 0px 0px 100px rgba(225, 184, 0, .5);
        filter: brightness(1.2);
        transform: scale(1.02);
    }
    50% {
        box-shadow: 0px 0px 50px rgba(225, 184, 0, .2);
        filter: brightness(1);
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
    }
}